.hold {
  opacity: 0.2;
  background-color: #000;
}

.used {
  background-color: grey;
}

input {
  text-align: right;
}

img {
  width: 70px;
  height: 70px;
}

button {
  width: 80px;
  height: 40px;
  float: right;
}

input {
  width: 60px;
}

#diceArea, #scoringArea {
  border: solid;
  width: 370px;
  padding: 10px;
  margin: 10px;
}
